streamlit==1.12.0
numpy==1.22.4
pandas==1.4.3
plotly==5.9.0
statsmodels==0.13.2
scipy==1.8.1
scikit-learn==1.1.2
hdbscan==0.8.28
plotly==5.9.0
pycountry==22.3.5
matplotlib==3.5.2
pyLDAvis==3.3.1
seaborn==0.11.2
joblib==1.0.0
openpyxl==3.0.10